# 数据库连接地址
DATABASE_URL=""
DATABASE_POOL_MAX=10
DATABASE_POOL_MIN=0
DATABASE_POOL_IDLE_TIMEOUT_MS=10000
DATABASE_POOL_CONNECTION_TIMEOUT_MS=10000

# jwt 密钥
JWT_SECRET=""

# 端口号
PORT=3000


# MinIO credentials
MINIO_ENDPOINT=192.168.1.190

MINIO_PORT=9000
MINIO_ACCESS_KEY_ID=jsImoQiXvYoVlXAfvkYW
MINIO_SECRET_ACCESS_KEY=PiE8FdGUFcO14drA11ftgEjZxmuJc4RsTggwoCna
MINIO_BUCKET_NAME=nest

# Redis
REDIS_IP=192.168.1.203
REDIS_PORT=6379